<p>Hello <%= @user.fullname %> !</p>
 
  
<p>Your casa (<%= @room.listing_name %>) has a new reservation from <%= @reservation.start_date.strftime('%d.%m.%y') %> to <%= @reservation.end_date.strftime('%d.%m.%y') %></p>